html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(44,60,91);
}

a{
    text-decoration: none;
}

p{
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

.background{
    top: 5%;
    left: 5%;
    background-color: white;
    display: block;
    width: 90vw;
    height: 90vh;
    position: fixed;
    z-index: -5;
    margin: 0 auto;
    border-radius: 30px;
}

.main{
    margin: 10%;
}

.header{
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    margin: 10% 0 2%;
}


.ilist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}

.items{
    height: 100%;
    background-color: rgb(255, 230, 204);
    padding: 10px;
    margin: 4% 0;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
}

.name{
    font-family: 'name', Times, serif;
    font-size: 40px;
    color: rgb(44,60,91);
    margin: 5% 0;
    text-align: center;
}

.iname{
    font-size: 25px;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    margin-left: 0.5em;
    letter-spacing: -3.5;
    word-spacing: -8;
    text-overflow: hidden;
}

.round{
    border-radius: 50%;
}

.namebox{
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

#close{
    display: none;
    position: fixed;
    font-family: 'name', Times, serif;
    font-size: 16px;
    right: 5%;
    top: 2%;
    z-index: 12;
}

#popcover{
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
}

#popup{
    max-height: 90vh;
    width: 90vw;
    display: block;
    z-index: 10;
    position: fixed;
    left: 5%;
    top: 2%;
}

.insta{
    background-image: url("img//instagram.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;   
}

.vsco{
    background-image: url("img//VSCO_Seal.svg.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;   
}

.manual{
    background-image: url("img//download.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;   
}

.doc{
    background-image: url("img//document.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;  
}

#avt{
    font-size: 12px;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    background-image: url("img//z3892319250223_82c8f44cd6d9e09ba2c4734690d40d6d.jpg");
    background-size: 100%;
    background-position-y: 25%;
    margin: auto;
    background-repeat: no-repeat;
}

#ipic{
    font-size: 10px;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: rgba(80,135,189,255);
    margin-top: auto;
}

#part2{
    font-size: 5px;
    margin: 10%;
    display: none;
    opacity: 0;
}

#part2 img{
    position: fixed;
    right: 2%;
    top: 2%;
    width: 8%;
}

@font-face {
    font-family: name;
    src: url("Fonts//UVNAnhHaiNhe_I.TTF");
} 

@font-face {
    font-family: des;
    src: url("Fonts//UTMBustamalaka.ttf");
}

@font-face {
    font-family: inames;
    src: url("Fonts//Lobster-Regular.ttf");
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes fadeout {
    0% {opacity: 100%}
    100%{
        opacity: 0;
    }
}